/* You can add global styles to this file, and also import other style files */

.card, .form {
  margin-top: 1rem;
}

.state-alivrer {
  color: rgb(255, 0, 0)
}
.state-encours {
  color: rgb(108, 105, 247)
}
.state-livree {
  color: rgb(86, 194, 53)
}
