/* You can add global styles to this file, and also import other style files */

.card, .form {
  margin-top: 1rem;
}

.state-alivrer {
  color: rgb(255, 0, 0)
}
.state-encours {
  color: rgb(108, 105, 247)
}
.state-livree {
  color: rgb(86, 194, 53)
}

.form .ng-invalid.ng-touched {
  border: 1px solid red;
}
.form .ng-valid.ng-touched {
  border: 1px solid rgb(70, 218, 51);
}

[class*="icon"] {
  margin-left: 10px;
}

.tab {
  margin-top: 1rem;
}
.tab li {
  cursor: pointer;
}
.tab li:nth-child(odd) {
  background: rgb(236, 236, 236);
}
.tab li:hover {
  background: rgb(216, 207, 207);
}
