<div class="card">
    <div class="card-header">
      <span [appState]="item.state">{{item.state}}</span>
      <button class="btn btn-sm btn-danger icon-trashcan float-right" (click)="delete()"></button>
      <button class="btn btn-sm btn-info icon-pencil float-right"></button>
    </div>
    <div class="card-body">
      <h5 class="card-title">Name : {{item.name}}</h5>
      <p class="card-text">Ref : {{item.reference}}</p>
      <p class="card-text">Date de livraison : {{item.dateLivraison | date:'fullDate'}}</p>
    </div>
  </div>
